body {
  background-color: aquamarine;
}

#container {
  display: grid;
  /* width: 90%; */
  height: 1000px;
  text-align: center;
}

canvas {
  background-color: gray;
}

#top-right {
  grid-area: top-right;
}

button {
  display: flex;
  justify-content: center;
  position: absolute;
  display: inline-flex;
}