body {
  background-color: aquamarine;
}

#container {
  display: grid;
  /* width: 90%; */
  height: 1000px;
}

canvas {
  background-color: gray;
}

#top-right {
  grid-area: top-right;
}

/* main {
  grid-area: game;
} */
